var assign = require('object-assign');
var EventEmitter = require('events').EventEmitter;

var ActionConstants = require('../constants/actions.js');
var AppDispatcher = require('../dispatchers/appdispatcher.js');

var CHANGED = 'changed';

var secondsRemaining = 0;
var intervalHandle = null;

function startTimer() {
  intervalHandle = window.setInterval(tick, 1000);
}

function stopTimer() {
  window.clearInterval(intervalHandle);
  intervalHandle = null;
}

function tick() {
  if (secondsRemaining === 0) {
    stopTimer();
    return;
  }

  secondsRemaining -= 1;
  TimerStore.emitChange();
}
