var TimerStore = assign({}, EventEmitter.prototype, {

  getSecondsRemaining: function() {
    return secondsRemaining;
  },

  // Helpers ----------------------------------------------

  emitChange: function() {
    this.emit(CHANGED);
  },

  addChangeListener: function(callback) {
    this.on(CHANGED, callback);
  },

  removeChangeListener: function(callback) {
    this.removeListener(CHANGED, callback);
  }

});

TimerStore.dispatchToken = AppDispatcher.register(function(action) {
  switch (action.type) {
    case ActionConstants.SET_TIMER:
      stopTimer();
      secondsRemaining = action.seconds;
      TimerStore.emitChange();
      break;

    case ActionConstants.START_TIMER:
      startTimer();
      break;

    case ActionConstants.STOP_TIMER:
      stopTimer();
      break;
  }
});

module.exports = TimerStore;
