.spectacle-slide {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

/* Firefox */

_:-moz-tree-row(hover), .spectacle-deck {
  perspective: 1000px;
}

_:-moz-tree-row(hover), ul .appear {
  display: inline;
}

/* Live Examples */

.timer-app {
  background-color: white;
  color: black;
  font-size: 3em;

  padding: 10px;
  width: 650px;
  margin: 20px auto;
}

.timer-app button {
  margin: 10px;
}